# Ignore configuration files that may contain sensitive information.
sites/default/settings.php

# Ignore paths that contain generated content.
sites/default/files
sites/default/private

# Ignore local alias directories
sites/beau.dd
sites/loc.beauboehner.com

# Ignore system files
.DS_Store
.sass-cache
.idea
