/**** Alright, Murray, let's do it ****/

// Import variables and mixins to be used.
@import 'base/_config.sass';
@import 'base/components/bourbon/bourbon';
@import 'base/components/neat/neat';

// Set your sitewide variables.
$blue: rgba(38, 91, 134, 1);
$green: rgba(8, 113, 80, 1); // 087150
$orange: rgba(248, 171, 11, 1); // F8AB0B
$dark-blue: rgba(29, 68, 100, 1);
$dark-green: rgba(8, 86, 61, 1);
$light-green: rgba(10, 153, 108, 1);
$trans-blue: rgba(38, 91, 134, 0.35);
$overlay: rgba(66, 66, 66, 0.50);

// Set your breakpoints.
@mixin breakpoint($point) {
  @if $point == 1200 {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == 1100 {
	@media (max-width: 1100px) { @content; }
  }
  @else if $point == 900 {
    @media (max-width: 900px)  { @content; }
  }
  @else if $point == 800 {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == 700 {
    @media (max-width: 700px)  { @content; }
  }
  @else if $point == 500 {
    @media (max-width: 500px)  { @content; }
  }
  @else if $point == 400 {
    @media (max-width: 400px)  { @content; }
  }
}

/*** Set sitewide settings ***/
h1, h2, h3, h4, h5, h6, label, .field-label { font-family: $helvetica; color: $blue; padding-left: 10px; }

h1 { font-size: 3em; }

a { color: $orange; }

.big-text {
    font-size: 7em;
    @include breakpoint(900) { font-size: 5em; }
    @include breakpoint(700) { font-size: 3em; }
    @include breakpoint(500) { font-size: 2.5em; }
}
.med-text {
    font-size: 5em;
    @include breakpoint(900) { font-size: 4em; }
    @include breakpoint(700) { font-size: 2em; }
    @include breakpoint(500) { font-size: 1.25em; }
}
.sml-text {
    font-size: 2.5em;
    @include breakpoint(900) { font-size: 2em; }
    @include breakpoint(700) { font-size: 1em; }
    @include breakpoint(500) { font-size: 1em; }
}
body:before { background-image: none; }

body { margin: 0; }

body.front #content-header h1 {	display: none; }

ul { list-style: none outside none; }

#page {
  width: 100%; max-width: 100%;
  background-image: url('/sites/all/themes/brasilic/images/kc.png');
  background-repeat: repeat-x;
  background-position: bottom;
}

#main { margin-bottom: 1.5em; }

#header {
	padding: 3em 0;
	color: #fff;
	@include background-image(linear-gradient($dark-blue, $blue));
		div {
			@include outer-container;
			div { @include span-columns(12); }
		p { font-family: $helvetica; text-shadow: 3px 2px 8px #000; font-weight: 500; margin: 0; }
			button {
				padding: 1.25em 3em !important;
				font-size: 1.15em !important;
				min-width: 11em;
				&#mail { @include button($blue); }
				&#linkedin { @include button(#76adcb); }
				&#facebook {
					@include button(#486ca9);
					@include breakpoint(900) {display: none; }
				}
				&#twitter { @include button(#55acee); }
				&#drupal {
					@include button(#0173ba);
					@include breakpoint(500) { display: none; }
				}
			@include breakpoint(1100) { font-size: 1em !important; }
			@include breakpoint(900) { font-size: 0.5em !important; padding: 1em 2em !important; }
			}
		.about-header { padding-bottom: 2em; }
		.contact-block { margin: -0.5em auto;
			@include breakpoint(1100) { padding-left: 3em; }
			@include breakpoint(900) { padding-left: 5em; }
			@include breakpoint(400) { padding-left: 0.25em; }
			}
		}
}
#navigation {
	@include background-image(linear-gradient($light-green, $dark-green));
    #nav-container { @include outer-container;
    	#menu-icon { display: none; width: 40px; height: 40px; background-image: url('/sites/all/themes/brasilic/images/menu-icon.png'); }
    	a:hover#menu-icon {	background-color: $green; border-radius: 4px 4px 0 0; }
	    ul {
	    	padding: 1em;
	    	@include span-columns(10);
	    	li {
			    a { padding: 15px; text-decoration: none; font-size: 1.25em; color: #fff; border-right: 1px solid $green;
					&.hover { background-color: $green; color: $orange; }
			    	&.active { color: $orange; }
			    	@include breakpoint(900) { padding: 15px 6px; }
			    	@include breakpoint(700) { padding: 18.5px 8px 15.5px 6px; font-size: 0.75em; }
				}
				&.last a { border-right: none; }
			}
	    }
	}
	@include breakpoint(500) {
		#nav-container {
			#menu-icon { display:inline-block; background-position: -5px; }
			ul, nav:active ul {
			display: none;
			position: absolute;
			@include background-image(linear-gradient($light-green, $dark-green));
			border-top: 4px solid $orange;
			border-right: 4px solid $orange;
			border-bottom: 4px solid $orange;
			width: 40%;
			border-radius: 4px 0 4px 4px;
			z-index: 20;
		}
		ul li {	text-align: left; width: 100%; padding: 10px 0;	margin: 0;
			a {	border-right: none; font-size: 1.15em;	}
		}
		&:hover ul { display: block; }
	}
	@include breakpoint(400) {
		#nav-container ul, nav:active ul { width: 75%; }
	}
  }
}
#lower-content {
	p, ul, li { padding: .5em; }
	@include outer-container;
	#main { @include span-columns(12);
	#content { @include breakpoint(800) { width: 100%; }
	}
  }
}
aside#sidebar-second {
	@include breakpoint(1200) { width: 20%; }
	@include breakpoint(1100) { width: 18%; }
	@include breakpoint(800) { display: none; }
	@include outer-container;
	div.region-sidebar-second {
		@include span-columns(14);
		background: #fff;
	    background-image: url('/sites/all/themes/brasilic/images/twitter-big.png');
	    background-repeat: no-repeat;
	    background-position: -2em 8em;
	    background-size: 350px;
	    box-shadow: 0 1px 23px #000;
	    margin-top: -1em;
	    padding: 1em 0.5em;
	    @include breakpoint(1200) { background-size: 250px; background-position: 0 8em; }
	    @include breakpoint(1100) { background-size: 200px; background-position: 0 8em; }
    }
}
.region-footer {
	background-color: $trans-blue;
	padding: 2em 3em;
	font-size: .55em;
	img {
		margin: 0.5em auto;
		@include breakpoint(500) { width: 15%; height: auto; }
	}
}
// Now all the other stuff...

// Set the other welcome languages to default to "hidden"
.welcome-text {
	p { &.spanish, &.portuguese, &.german, &.italian, &.icelandic, &.danish, &.affrikaans, &.turkish, &.russian { display: none; }
	}
}

// Front Page "Latest" Blocks
.latest-block-container {
	padding: 0.25em 0;
    a {
	    text-decoration: none;
		h2 { position: absolute; padding: 1em 0 0 0.25em; text-shadow: 3px 2px 8px #000; color: #fff; }
    }
	.latest-block {
			.view-content {
				max-height: 25em;
				overflow: hidden;
				img {
					margin-top: -2em;
					@include breakpoint(800) { width: 100%; height: auto; }
					}
			.latest-title h2 { position: absolute; top: -0.75em; }
			.latest-location h2 { padding: 3.5em 1em; top: -1em; }
			}
	}
}
.overlay { display: block; color: $overlay; position: absolute; top: 0; left: 0; width: 100%; z-index: 5000; }
.vanish { display: none !important; }

/*** Photography Page ***/
.page-photography h1.title {
	background-image: url('/sites/all/themes/brasilic/images/icon-photography.png');
	background-repeat: no-repeat;
	background-position: 6.5em 0.20em;
	@include breakpoint(400) { font-size: 2.5em; background-size: 12%; }
}
.view-photo-gallery {
	@include outer-container;
	div.views-row {
		@include span-columns(3); margin: 0 .5em 2em 0; font-size: 0.85em; min-height: 14em;
		@include breakpoint(900) { font-size: 0.5em; }
		.views-field-field-photo img { width: 100%; height: auto; }
		.views-field-title {
			position: absolute;
			margin: -8em 0.5em;
			text-shadow: 3px 2px 8px #000;
			color: #fff; font-size: 1.15em;
			font-weight: 500;
			text-decoration: none;
			overflow: hidden;
		}
		 .views-field-field-location, .views-field-field-year { display: inline-block; }
	}
}

/*** Travel & Events ***/

// Landing Page
.page-travel-events h1.title {
	background-image: url('/sites/all/themes/brasilic/images/icon-travel.png');
	background-repeat: no-repeat;
	background-position: 7.75em 0.20em;
	@include breakpoint(400) { font-size: 2em; background-size: 10%; }
}
.view-travel-events {
	.views-row { margin: .5em 0; text-shadow: 3px 2px 8px #000; }
	img { width: 100%; height: auto; }
	h2 a, .field-name-field-location, .field-name-field-dates {
		position: absolute;
		color: #fff;
		font-size: 3em;
		text-decoration: none;
		padding: .25em;
		@include breakpoint(900) { font-size: 2em; }
	 }
	.field-name-field-location, .field-name-field-dates {
		font-size: 2em;
		margin-top: 14em;
		@include breakpoint(1100) { margin-top: 12em; }
		@include breakpoint(900) { font-size: 1.5em; }
		@include breakpoint(500) { font-size: .95em; }
	 }
	.field-name-field-dates  { margin-top: 15em;
		@include breakpoint(1100) { margin-top: 13em; }
	 }
}
// Travel/Event Nodes
.node-type-travel-events {
	.field-name-field-promo-image img { width: 100%; height: auto; }
	h1 {
		position: absolute;
		z-index: 10;
		color: #fff;
		font-size: 4em;
		text-decoration: none;
		padding: .25em;
		text-shadow: 3px 2px 8px #000;
		@include breakpoint(900) { font-size: 2.5em; padding: 1em; }
	 }
 	.field-name-field-dates .field-items {
	 	font-size: 2em;
	 	font-weight: bold;
	 	color: #fff;
	 	margin: -2em 0 1.5em 1em;
	 	text-shadow: 3px 2px 8px #000;
		@include breakpoint(900) {font-size: 1em }
 	 }
 	.field-name-field-location .adr {
	 	font-size: 2em;
	 	font-weight: bold;
	 	margin-bottom: 0.25em;
		@include breakpoint(900) { font-size: 1.5em; }
		@include breakpoint(500) { font-size: 0.95em; }
 	 }
	.field-name-body { margin: 1em 0; }
	.field-name-field-images .field-items {
	@include outer-container;
	.field-item {
		@include span-columns(3);
		margin: 0 0.25em 2em 0;
		img { width: 100%; height: auto; }
		}
	}
}

/*** Blog ***/

// Landing Page
.page-blog h1.title {
	background-image: url('/sites/all/themes/brasilic/images/icon-blog.png');
	background-repeat: no-repeat;
	background-position: 2.5em 0.20em;
	@include breakpoint(400) { font-size: 2.5em; background-size: 12%; }
	}
.page-blog .action-links { margin: 0.5em 0; }
.view-blogs {
	padding: 0 3em;
	.views-row {
	min-height: 15em;
	border-bottom: 2px $orange dotted;
	padding: 3em 0;
		@include breakpoint(400) { padding: 1.5em 0; min-height: 0; text-align: center; }
		.views-field-title {
			padding: 1em 0;
				a { font-size: 2em; font-weight: bold; text-decoration: none; padding: 3em 0; }
		}
		.views-field-field-promo-image {
			float: left;
			margin-right: 1em;
			@include breakpoint(400) { float: none; }
		}
	}
	.views-row-last { border-bottom: none; }
}

// Blog Nodes
.node-type-blog {
	.submitted { font-size: .75em; font-style: italic; color: $blue; }
	.field-name-field-url-link { border: 1px $green solid; border-radius: 0.5em; padding: 1em; margin: 1em 0; }
	.field-name-field-promo-image img { width: 100%; height: auto; }
	.field-name-body {
    margin: 1em 0;
    blockquote {
      font-size: 18px;
      p { margin: 10px 50px; }
    }
  }
	.comment-wrapper {
		margin: 2em;
		.comment {
			margin: 1em;
			header { margin: .5em 0; }
		}
		#edit-subject, textarea { min-height: 2em; border-radius: .5em; margin: .25em; }
		.form-submit { @include button($blue); margin: 0 0.5em; font-size: 1em; min-width: 6em; }
	}
}

/*** Work Page ***/
.page-work h1.title {
	background-image: url('/sites/all/themes/brasilic/images/icon-work.png');
	background-repeat: no-repeat;
	background-position: 2.90em 0.20em;
	@include breakpoint(400) { font-size: 2.5em; background-size: 12%; }
	}
.view-websites {
	@include outer-container;
	.views-row {
		@include span-columns(5);
		float: left;
		margin: 1em;
		text-align: center;
		color: $blue;
		border-right:
		1px dotted $green;
		padding-right: 2em;
		.views-field { display: inline-block; }
		.views-field-field-promo-image {
			display: block;
			margin: 0.5em 0;
			img { width: 100%; height: auto; }
		}
	}
	.views-row-even { border-right: none; }
}
.view-video {
	@include outer-container;
	.views-row {
		@include span-columns(5);
		float: left;
		margin: 1em;
		text-align: center;
		color: $blue;
		border-right: 1px dotted $green;
		padding-right: 2em;
		.views-field { display: inline-block; }
		.views-field-field-promo-image {
			display: block;
			margin: 0.5em 0;
			img { width: 100%; height: auto; }
		}
	}
	.views-row-even { border-right: none; }
}

/*** About Page ***/
.page-about h1.title {
	background-image: url('/sites/all/themes/brasilic/images/icon-about.png');
	background-repeat: no-repeat;
	background-position: 3.25em 0.20em;
	@include breakpoint(400) { font-size: 2.5em; background-size: 12%; }
	}
.page-about {
	.field-name-body .field-item {
		@include outer-container;
		#facts {
			@include span-columns(8);
			@include breakpoint(700) {
				@include span-columns(12);
				float: none;
			}
		}
		#enjoys, #expert {
			@include span-columns(3);
			@include breakpoint(700) {
				@include span-columns(12);
				float: none;
			}
		}
		#codecademy {
			@include span-columns(6);
			margin: 1em 0;
			img { width: 90%; height: auto; margin: 1em; border: 3px $green solid; border-radius: 0.5em; }
      @include breakpoint(500) {
        @include span-columns(12);
        float: none;
      }
		}
		#duolingo {
			@include span-columns(6);
			margin: 1em 0;
			img { width: 90%; height: auto; margin: 1em; border: 3px $green solid; border-radius: 0.5em; }
      @include breakpoint(500) {
        @include span-columns(12);
        float: none;
      }
		}
		#endorsements {
				@include span-columns(12);
				margin: 1em 0;
			img {
				@include breakpoint(900) { width: 65px !important; height: auto !important; }
				@include breakpoint(500) { width: 35px !important; height: auto !important; }
			}
		}
	}
}

// Twitter Feed
#block-views-tweets-block {
	ul {
		list-style: none outside none;
		.views-field-profile-image-url {
			float: left;
			width: auto;
			padding-right: 0.5em;
			img {
				box-shadow: 0 1px 3px #666;
				@include breakpoint(1100) { display: none; }
			}
		}
		li {
			padding: 1em 0;
			border-bottom: 1px $blue dotted;
			min-height: 5em;
			@include breakpoint(1200) { font-size: 0.75em; }
			.views-field-created-time { font-size: 0.75em; font-style: italic; }
		}
	}
	h2 { @include breakpoint(1200) { Font-size: 1em; }
	}
}

// User Login
#user-login {
	.form-item input { min-height: 2em; border-radius: .5em; margin: 1em; padding:0 0.5em;
		@include breakpoint(500) { min-height: 5em; width: 90%; }
	}
	.form-actions input { @include button($blue); margin: 0 0.5em; font-size: 1em; min-width: 6em;
		@include breakpoint(500) { font-size: 2em; }
	}
}


