/***** BeauStrap -- Redesign 2016 *****/

/** Alright, Murray, let's do it... **/

/*** IMPORT DEPENDENCIES ***/
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

/** Fonts **/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);



/** Sitewide Defaults **/

body {
  margin: 0;
  padding: 0;
}
h1 {
  padding: 2px 20px 2px 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  @media (max-width: 600px) {
    padding: 2px 20px 2px 25px;
  }
  @media (max-width: 500px) {
    padding: 5px;
  }
}
h2 {
  padding: 2px 20px 2px 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  @media (max-width: 600px) {
    padding: 2px 20px 2px 25px;
    font-size: 28px;
  }
  @media (max-width: 500px) {
    padding: 5px;
  }
}
h3 {
  padding: 2px 20px 2px 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  @media (max-width: 600px) {
    padding: 2px 20px 2px 25px;
  }
  @media (max-width: 500px) {
    padding: 5px;
  }
}
h4 {
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

p {
  padding: 2px 20px 2px 75px;
  font-family: 'Merriweather', serif;
  @media (max-width: 600px) {
    padding: 2px 20px 2px 25px;
  }
  @media (max-width: 500px) {
    padding: 5px;
  }
}
ul {
  font-family: 'Merriweather', serif;
  list-style: disc;
  padding: 2px 20px 2px 75px;
  li {
    margin-left: 40px;
  }
  @media (max-width: 600px) {
    padding: 2px 20px 2px 25px;
  }
  @media (max-width: 500px) {
    padding: 5px;
  }
}
input[type="submit"] {
  background-color: transparent;
  border: 2px solid #FFF;
  border-radius: 4px;
  color: #FFF;
  text-transform: uppercase;
  &:hover {
    background-color: #FFF;
    color: #0080d9;
  }
}
.block {
  padding: 20px 0;
}
.block-button-wrapper {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
}
#main-wrapper {
  margin: 0 auto;
}
#content {
  padding: 10px 0;
  @media (max-width: 840px) {
    padding: 0;
  }
}
.content {
  margin: 0 auto;
  padding: 0 20px;
  width: 90%;
  @media (max-width: 840px) {
    width: 100%;
  }
  @media (max-width: 400px) {
    padding: 0 5px;
  }
}


#header {
  #content-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -400px;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    min-height: 480px;
    .main_title {
      font-family: 'Montserrat', sans-serif;
      color: #FFF;
      position: relative;
      padding: 75px 0 27px 75px;
      font-size: 60px;
      margin-bottom: 0;
      @media (max-width: 792px) {
        font-size: 32px;
      }
      @media (max-width: 480px) {
        padding: 30px 0;
        font-size: 28px;
      }
    }
  }
  .color-overlay {
    background: rgba(0,145,178,.88);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0091b2+0,263685+100&amp;0.85+0,0.85+100 */
    background: -moz-linear-gradient(left,  rgba(0,145,178,0.85) 0%, rgba(38,54,133,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,145,178,0.65)), color-stop(100%,rgba(38,54,133,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,145,178,0.65) 0%,rgba(38,54,133,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,145,178,0.65) 0%,rgba(38,54,133,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,145,178,0.65) 0%,rgba(38,54,133,0.65) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,145,178,0.65) 0%,rgba(38,54,133,0.65) 100%); /* W3C */
    min-height: 480px;
  }
  .front-header {
    position: absolute;
    top: 90px;
    width: 80%;
    right: 0;
    padding-right: 75px;
    text-align: right;
    color: #FFF;
    h3 {
      margin: 0 0 8px;
      @media (max-width: 840px) {
        font-size: 19px;
      }
      @media (max-width: 500px) {
        font-size: 15px;
        margin: 0 0 0;
      }
    }
    @media (max-width: 600px) {
      width: 100%;
      top: 120px;
      left: 0;
      text-align: left;
    }
  }
}

.contact-logos {
  margin: 0 auto;
  text-align: center;
  i {
    padding: 5px 20px 20px;
  }
}

/*** Front Page ***/

.front .websites-block {
  display: block;
  color: #FFF;
  background: rgba(53, 17, 217, 0.8);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b2bd9+0,5a2b7d+100&amp;0.8+0,0.8+100 */
  background: -moz-linear-gradient(left,  rgba(53, 17, 217, 0.8) 0%, rgba(90,43,125,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(53, 17, 217, 0.8)), color-stop(100%,rgba(90,43,125,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(53, 17, 217, 0.8) 0%,rgba(90,43,125,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(53, 17, 217, 0.8) 0%,rgba(90,43,125,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(53, 17, 217, 0.8) 0%,rgba(90,43,125,0.8) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(53, 17, 217, 0.8) 0%,rgba(90,43,125,0.8) 100%); /* W3C */
}
.front .view-websites {
  margin: 0 auto;
  text-align: center;
  .views-row {
    display: inline-table;
    padding: 20px;
    position: relative;
    @media (max-width: 560px) {
      padding: 5px;
    }
  }
  .overlay {
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background: #333;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b2bd9+0,5a2b7d+100&amp;0.8+0,0.8+100 */
    background: -moz-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(15, 15, 15, 0.8)), color-stop(100%, rgba(25, 25, 25, 0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* W3C */
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 51px;
    left: 20px;
    width: 480px;
    min-height: 330px;
    .work-creds {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      text-align: left;
      @media (max-width: 560px) {
        display: block;
        background: none;
        position: relative;
        top: 0;
        left: 0;
      }
    }
    .work-link {
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 100%;
      text-align: center;
      @media (max-width: 560px) {
        display: block;
        background: none;
        position: relative;
        top: 0;
        left: 0;
      }
    }
    a {
      color: #FFF;
      &:hover {
        color: #0080d9;
      }
    }
    ul {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      li { padding: 5px 0; }
    }
    @media (max-width: 560px) {
      display: block;
      background: none;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 0;
    }
  }
  img {
    box-shadow: 3px 3px 8px #333;
    height: 330px;
    @media (max-width: 500px) {
      width: 100%;
      height: auto;
    }
  }
}

.front .webform-client-form-140 {
  margin: 0 auto;
  width: 75%;
  input.webform-submit {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #0080d9;
    border-radius: 4px;
    color: #0080d9;
    text-transform: uppercase;
    &:hover {
      background-color: #0080d9;
      color: #FFF;
    }
  }
}

.front-travel-photog {
  background-image:url('../images/headers/header6.jpg');
  background-position: center center;
  .overlay {
    background: rgba(0, 128, 217, 0.8);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b2bd9+0,5a2b7d+100&amp;0.8+0,0.8+100 */
    background: -moz-linear-gradient(left,  rgba(0, 128, 217, 0.8) 0%, rgba(7, 52, 217, 0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 128, 217, 0.8)), color-stop(100%, rgba(7, 52, 217, 0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0, 128, 217, 0.8) 0%, rgba(7, 52, 217, 0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0, 128, 217, 0.8) 0%, rgba(7, 52, 217, 0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0, 128, 217, 0.8) 0%, rgba(7, 52, 217, 0.8) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0, 128, 217, 0.8) 0%, rgba(7, 52, 217, 0.8) 100%); /* W3C */
  }
}
.front-state-capitols {
  background-image:url('../images/indiana-bg.jpg');
  background-position: 400px 0;
  @media (max-width: 840px) {
    background-position: center center;
  }
  .overlay {
    background: rgba(3, 104, 38, 0.8);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b2bd9+0,5a2b7d+100&amp;0.8+0,0.8+100 */
    background: -moz-linear-gradient(left,  rgba(3, 104, 38, 0.8) 0%, rgba(45, 217, 96, 0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(3, 104, 38, 0.8)), color-stop(100%, rgba(45, 217, 96, 0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(3, 104, 38, 0.8) 0%, rgba(45, 217, 96, 0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(3, 104, 38, 0.8) 0%, rgba(45, 217, 96, 0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(3, 104, 38, 0.8) 0%, rgba(45, 217, 96, 0.8) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(3, 104, 38, 0.8) 0%, rgba(45, 217, 96, 0.8) 100%); /* W3C */

  }
}
.front-travel-photog, .front-state-capitols {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  float: left;
  width: 50%;
  color: #FFF;
  min-height: 480px;
  position: relative;
  .overlay {
    min-height: 480px;
    position: absolute;
    top: 0;
    left: 0;
  }
  h2 {
    margin-top: 20px;
  }
  h4 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 100px;
    @media (max-width: 1020px) {
      font-size: 1em;
      margin-top: 50px;
    }
  }
  input {
    display: block;
    margin: 35px auto 0;
  }
  @media (max-width: 840px) {
    float: none;
    width: 100%;
  }
}

.front-fall-countdown {
  clear: both;
  background-image:url('../images/headers/header7.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFF;
  min-height: 350px;
  position: relative;
  .overlay {
    background: rgba(217, 18, 2, 0.8);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b2bd9+0,5a2b7d+100&amp;0.8+0,0.8+100 */
    background: -moz-linear-gradient(left,  rgba(217, 18, 2, 0.8) 0%, rgba(217, 122, 2, 0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(217, 18, 2, 0.8)), color-stop(100%, rgba(217, 122, 2, 0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(217, 18, 2, 0.8) 0%, rgba(217, 122, 2, 0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(217, 18, 2, 0.8) 0%, rgba(217, 122, 2, 0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(217, 18, 2, 0.8) 0%, rgba(217, 122, 2, 0.8) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(217, 18, 2, 0.8) 0%, rgba(217, 122, 2, 0.8) 100%); /* W3C */
    width: 100%;
    min-height: 350px;
    position: absolute;
    top: 0;
    left: 0;
  }
  h2 {
    margin-top: 20px;
  }
  h4 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 100px;
    @media (max-width: 730px) {
      font-size: 1em;
      margin-top: 50px;
    }
  }
  input {
    display: block;
    margin: 35px auto 0;
  }
}

/** Footer **/

#footer {
  background: #333;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b2bd9+0,5a2b7d+100&amp;0.8+0,0.8+100 */
  background: -moz-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(15, 15, 15, 0.8)), color-stop(100%, rgba(25, 25, 25, 0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* W3C */
  overflow: hidden;
  z-index: 2;
  min-height: 450px;
  p { color: #FFF; font-size: 10px; }
  img { padding: 0 20px; }

  // LOGIN BLOCK
  #block-user-login {
    margin: 0 auto;
    padding-left: 50px;
    width: 100%;
    h2 { display: none; }
    label { color: #FFF; display: inline; font-size: 0.5em; }
    .form-type-textfield, .form-type-password {
      display: block;
    }
    .form-type-textfield input, .form-type-password input {
      display: inline;
      width: 25%;
      padding: 0.15em;
    }
    .item-list { display: none; }
    .form-actions input { padding: 8px 10px; font-size: 0.5em; }
  }
}


/** Photo Gallery & State Capitols Page **/

.view-photo-gallery, .view-state-capitols {
  display: block;
  margin: 0 auto;
  text-align: center;
  .views-row {
    display: inline-table;
    padding: 20px 10px;
    position: relative;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    @media (max-width: 560px) {
      padding: 20px 5px;
    }
    h3 {
      padding: 0;
    }
    span {
      font-size: 24px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}


/** Fall Countdown Page **/

body.page-node-117 {
  .field-name-body,
  .field-type-field-countdown {
    text-align: center;
    font-size: 24px;
  }
  .europe-vid {
    text-align: center;
  }
}






