/***** BeauStrap -- Redesign 2016 *****/

/*** IMPORT DEPENDENCIES ***/
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

/** Fonts **/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);

/* Font Calls

font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;

*/

body {
  margin: 0;
  padding: 0;
}
h1 {
  padding: 2px 20px 2px 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}
h2 {
  padding: 2px 20px 2px 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
h3 {
  padding: 2px 20px 2px 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
p {
  padding: 2px 20px 2px 75px;
  font-family: 'Merriweather', serif;
}
ul {
  font-family: 'Merriweather', serif;
  list-style: disc;
  padding: 2px 20px 2px 75px;
  li {
    margin-left: 40px;
  }
}
.block {
  padding: 20px 0;
}


#header {
  #content-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -400px;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    min-height: 480px;
    .main_title {
      font-family: 'Montserrat', sans-serif;
      color: #FFF;
      position: relative;
      padding: 75px 0 27px 75px;
      font-size: 60px;
      margin-bottom: 0;
      @media (max-width: 792px) {
        font-size: 32px;
      }
      @media (max-width: 480px) {
        padding: 30px 0;
        font-size: 28px;
      }
    }
  }
  .color-overlay {
    background: rgba(0,145,178,.88);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0091b2+0,263685+100&amp;0.85+0,0.85+100 */
    background: -moz-linear-gradient(left,  rgba(0,145,178,0.85) 0%, rgba(38,54,133,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,145,178,0.65)), color-stop(100%,rgba(38,54,133,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,145,178,0.65) 0%,rgba(38,54,133,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,145,178,0.65) 0%,rgba(38,54,133,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,145,178,0.65) 0%,rgba(38,54,133,0.65) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,145,178,0.65) 0%,rgba(38,54,133,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d90091b2', endColorstr='#d9263685',GradientType=1 ); /* IE6-9 */
    min-height: 480px;
  }
  .front-header {
    position: absolute;
    top: 90px;
    right: 0;
    width: 60%;
    padding-right: 75px;
    text-align: right;
    color: #FFF;
    h3 { margin: 0 0 8px; }
  }
}

#main-wrapper {
  margin: 0 auto;
}
#content {
  padding: 10px 0;
}
.content {
  margin: 0 auto;
  padding: 0 20px;
  width: 90%;
}

.front .websites-block {
  display: block;
  color: #FFF;
  background: rgba(53, 17, 217, 0.8);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b2bd9+0,5a2b7d+100&amp;0.8+0,0.8+100 */
  background: -moz-linear-gradient(left,  rgba(53, 17, 217, 0.8) 0%, rgba(90,43,125,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(53, 17, 217, 0.8)), color-stop(100%,rgba(90,43,125,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(53, 17, 217, 0.8) 0%,rgba(90,43,125,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(53, 17, 217, 0.8) 0%,rgba(90,43,125,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(53, 17, 217, 0.8) 0%,rgba(90,43,125,0.8) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(53, 17, 217, 0.8) 0%,rgba(90,43,125,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc9b2bd9', endColorstr='#cc5a2b7d',GradientType=1 ); /* IE6-9 */
}
.front .view-websites {
  margin: 0 auto;
  text-align: center;
  .views-row {
    display: inline-table;
    padding: 20px;
    position: relative;
  }
  .overlay {
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background: #333;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b2bd9+0,5a2b7d+100&amp;0.8+0,0.8+100 */
    background: -moz-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(15, 15, 15, 0.8)), color-stop(100%, rgba(25, 25, 25, 0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc9b2bd9', endColorstr='#cc5a2b7d', GradientType=1); /* IE6-9 */
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 51px;
    left: 20px;
    width: 480px;
    min-height: 330px;
    .work-creds {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      text-align: left;
    }
    .work-link {
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 100%;
      text-align: center;
    }
    a {
      color: #FFF;
      &:hover {
        color: #767676;
      }
    }
    ul {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      li { padding: 5px 0; }
    }
  }
  img {box-shadow: 3px 3px 8px #333; height: 330px; }
}

#footer {
  background: #333;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b2bd9+0,5a2b7d+100&amp;0.8+0,0.8+100 */
  background: -moz-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(15, 15, 15, 0.8)), color-stop(100%, rgba(25, 25, 25, 0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(15, 15, 15, 0.8) 0%, rgba(25, 25, 25, 0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc9b2bd9', endColorstr='#cc5a2b7d', GradientType=1); /* IE6-9 */
  overflow: hidden;
  z-index: 2;
  min-height: 450px;
  p { color: #FFF; font-size: 10px; }
  img { padding: 0 20px; }

  // LOGIN BLOCK
  #block-user-login {
    margin: 0 auto;
    padding-left: 50px;
    width: 100%;
    h2 { display: none; }
    label { color: #FFF; display: inline; font-size: 0.5em; }
    .form-type-textfield, .form-type-password {
      display: block;
    }
    .form-type-textfield input, .form-type-password input {
      display: inline;
      width: 25%;
      padding: 0.15em;
    }
    .item-list { display: none; }
    .form-actions input { padding: 8px 10px; font-size: 0.5em; }
  }
}
